{{> head
  title="活动列表"
  keywords=""
  description=""
  style="/active/active.css" }}

<ul class="active_all">
	<li class="active_li">
		<a href="javascript:;">
			<img src="/assets/active/images/list1.jpg"/>
			<div class="describe">
				<p class="film_name">假装看不见</p>
				<p class="film_date">
					<span class="span_date">6月28日</span>
					<span class="span_num">11234</span>
				</p>
			</div>
		</a>
	</li>
	<li class="active_li">
		<a href="javascript:;">
			<img src="/assets/active/images/list2.jpg"/>
			<div class="describe">
				<p class="film_name">假装看不见</p>
				<p class="film_date">
					<span class="span_date">6月28日</span>
					<span class="span_num">11234</span>
				</p>
			</div>
		</a>
	</li>
</ul>
<ul class="footer_ul">
		<li class="footer_li">
			<a href="javascript:;">
				<img src="/assets/base/images/footer/img1.png"/>
				<p>电影</p>
			</a>
		</li>
		<li class="footer_li">
			<a href="javascript:;">
				<img src="/assets/base/images/footer/img2.png"/>
				<p>购票</p>
			</a>
		</li>
		<li class="footer_li footer_li_on">
			<a href="javascript:;">
				<img src="/assets/base/images/footer/img3.png"/>
				<p>影讯</p>
			</a>
		</li>
		<li class="footer_li">
			<a href="javascript:;">
				<img src="/assets/base/images/footer/img4_on.png"/>
				<p>活动</p>
			</a>
		</li>
		<li class="footer_li">
			<a href="javascript:;">
				<img src="/assets/base/images/footer/img5.png"/>
				<p>我的</p>
			</a>
		</li>
	</ul>
{{> foot
  script="/active/reset.js"}}
