{{> head
  title="活动列表"
  keywords=""
  description=""
  style="/active/active.css" }}

<ul class="active_all">
	<li class="active_li">
		<a href="javascript:;">
			<img src="/assets/active/images/list1.jpg"/>
			<div class="describe">
				<p class="film_name">假装看不见</p>
				<p class="film_date">
					<span class="span_date">6月28日</span>
					<span class="span_num">11234</span>
				</p>
			</div>
		</a>
	</li>
	<li class="active_li">
		<a href="javascript:;">
			<img src="/assets/active/images/list2.jpg"/>
			<div class="describe">
				<p class="film_name">假装看不见</p>
				<p class="film_date">
					<span class="span_date">6月28日</span>
					<span class="span_num">11234</span>
				</p>
			</div>
		</a>
	</li>
</ul>

{{> foot
  script="/active/reset.js"}}
