{{> head
  title="支付页面"
  keywords=""
  description=""
  style="/pay/payment.css" }}
<link href="{{CDN}}/user/user.css" rel="stylesheet" type="text/css">

<div class="all_Time">距离支付时间还剩 <span class='span1' id="timer">06:15</span></div>
	<div class="all">

		<div class="top">
			<div class="ticket_dl">
				<div class="ticket_dt">
					<p class="dt_p">我叫MT <span class="span1">(国语2D)</span></p>
					<p class="dt_p3">保定万象影城5号厅</p>
					<p class="dt_p3">7排7座&nbsp;&nbsp;7排8座</p>
					<p class="dt_p2">
						<span class="dt_date">2016-8-9 18:29~20:30</span>
					</p>
					<p class="dt_p3 dt_p3s">
						<input class="span_text" value="13881348888"/>
						<span class="span1">(手机接收取票信息)</span>
						<span class="span2">
							<img src="/assets/pay/images/xiu_gai.png"/>
						</span>
					</p>
				</div>

			</div>
		</div>
	</div>
	<div class="bottom">
		<ul class="bottom_ul">
			<li>
				<p class="p_h2_left">支付明细</p>
				<p class="p_h2_right">含服务费3元/张<span class="span2">￥108</span></p>
			</li>
			<li class="you_hui">
				<p class="p_h2_left">优惠信息</p>
				<p class="p_h2_right p_h2_quan ">
				暂无优惠
				<span class="san_quan">
					<img src='/assets/pay/images/san_jiao.png'/>
				</span></p>
			</li>
		</ul>
		<p class="bottom_h4">支付方式</p>

		<ul class="bottom_ul">

			<li>
				<p class="p_h2_left wei_xin">微信支付</p>
				<div class='Btn_check Btn_hide'>
            <span></span>
          </div>
			</li>
			<li>
				<p class="p_h2_left zf_bao">支付宝支付</p>
				<div class='Btn_hide'>
            <span></span>
          </div>
			</li>
      <li>
        <p class="p_h2_left hy_ka">
        <a class="hy_ka_text">绑定会员卡</a>
        <span class="hy_ka_Btn">更换卡</span></p>
        <div class='Btn_hide'>
            <span></span>
          </div>
      </li>

		</ul>
    <div class="lian_xi">
      <p>请仔细核对购票信息，支付后不支持退票</p>
      <p>如有问题，请及时联系<span>400-123412312</span></p>

    </div>
	</div>
	<div class="Btn_ok back_color">确认支付180</div>
	<div class="user_quan_s">
		<div class='mask'></div>
		<div class='user_quan_body'>
			<div class="quan_body_h3">
				<p class="h3_left">确定</p>
				<p class="h3_right">取消</p>
			</div>
			<div class="quan_body_list">
				<dl class="coupon_dl" val_index="1">

						<dt class="coupon_dt">¥10</dt>
						<dd class="coupon_dd">
							<div class="coupon_all">
								<p class="user_quan">客户端会员代金券</p>
								<p class="validity">有效期至：2016-6-29</p>
								<p class="validity">会员专享</p>
							</div>

						</dd>

					<div class='Btn_check'>
						<span></span>
					</div>
				</dl>
				<dl class="coupon_dl" val_index="1">

						<dt class="coupon_dt">¥10</dt>
						<dd class="coupon_dd">
							<div class="coupon_all">
								<p class="user_quan">客户端会员代金券</p>
								<p class="validity">有效期至：2016-6-29</p>
								<p class="validity">会员专享</p>
							</div>

						</dd>
					<div class='Btn_check'>
						<span></span>
					</div>
				</dl>
			</div>
		</div>
	</div>
<script type="text/javascript">
	var out_time = '{{out_time}}';
</script>

{{> foot
  script="/pay/payment.js"
  nav='payment'}}

