{{> head
  title="支付页面"
  keywords=""
  description=""
  style="/pay/payment.css" }}

<article class='Order_Flim'>
 <div style="text-align: center;">
	<p style="color:red">等待支付响应...</p>
</div>
	
 </article>

{{> foot
  script="/pay/paywx.js"
  nav='paywx'}}

