{{> head
  title="活动列表"
  keywords=""
  description=""
  style="/filmnews/filmdetails.css" }}

	<div class="filmDetails_all">
		<div class="film_top">
			<p class="film_de_tit">《逆战》—看周董和谢柠檬在失衡故事中的表扬逆战》—看周董和谢柠檬在失衡故事中的表扬</p>
			<p class="date">07-08 09:19</p>
		</div>
		<div class="content">
			<img src="./images/FilmDetails/list1.jpg"/>
			<p class="film_p">历时12年最终在大公司支持下制作完成的《大鱼海棠》用华丽的画面和105分钟的空洞剧情再次证明了当下中国电影面临的基本问题：我们有技术、有钱、有市场；我们不缺观众、不缺IP、不缺情怀，却缺乏有技巧的编剧和一个合格的剧本。</p>
		</div>
		<div class="ewm">
			<img src="/assets/filmnews/images/ewm.jpg"/>
		</div>
		<a href="javascript:;" class="buyTicket"><span>前往购票</span></a>
	</div>

</body>

</html>
