{{> head
  title="活动列表"
  keywords=""
  description=""
  style="/filmnews/filmdetails.css" }}
  {{#filmDetails}}
	<div class="filmDetails_all">
		<div class="film_top">
			<p class="film_de_tit">{{consultTitle}}</p>
			<p class="date">{{createTime}}</p>
		</div>
		<div class="content">
			<img src="{{consultImg}}"/>
			<div class="film_p">{{content}}</div>
		</div>
		<div class="ewm">
			<img src="/assets/filmnews/images/ewm.jpg"/>
		</div>
		<a href="javascript:;" class="buyTicket"><span>前往购票</span></a>
	</div>
  {{/filmDetails}}
</body>

</html>
