{{> head
  title="优惠券信息"
  keywords=""
  description=""
  style="/user/coupon.css" }}

<div class="user_all">

    <div class="list">
      <div class="coupon_details">
        <div class="top">
          <p>优惠活动:每个用户,立减10元,限购2单,每单限购2张</p>
          <p>
            <span class="span_left">详细信息</span>
            <span class="span_right">2016-12-30至2016-12-30</span>
          </p>
        </div>
        <div class="bot_div">
          <p class="bottom">迎奥运，庆新春，每个用户立减10元，迎奥运，庆新春，每个用迎奥运，庆新春，每个用户立减10元，迎奥运，庆新春，每个用迎奥运，庆新春，每个用户立减10元，迎奥运，庆新春，每个用</p>
          <img src="/assets/user/images/shang.png"/>
        </div>

      </div>
      <dl class="coupon_dl">
        <img src="/assets/user/images/selected.png"/>
        <a href="javascript:;">
          <dt class="coupon_dt">¥10</dt>
          <dd class="coupon_dd">
            <div class="coupon_all">
              <p class="user_quan">优惠券</p>
              <p class="validity validity_date">2016/6/29至2016/12/30</p>
              <p class="validity">适用于全部影片，满23元可使用，每笔订单 只能使用一张，不可与其他优惠同享。  </p>
            </div>

          </dd>
        </a>
      </dl>
      <dl class="coupon_dl">
        <img src="/assets/user/images/selected.png"/>
        <a href="javascript:;">
          <dt class="coupon_dt">¥5</dt>
          <dd class="coupon_dd">
            <div class="coupon_all">
              <p class="user_quan">优惠券</p>
              <p class="validity validity_date">2016/6/29至2016/12/30</p>
              <p class="validity">适用于全部影片，满23元可使用，每笔订单只能使用一张，不可与其他优惠同享。   </p>
            </div>

          </dd>
        </a>
      </dl>

    </div>
  </div>
  <a class="buyTiket invalid" href="javascript:;">立即购票</a>



{{> foot nav ="coupon"
  script="/user/user.js"}}
