{{> head
  title="订单列表"
  keywords=""
  description=""
  style="/user/coupondetails.css" }}

<div class="list list2">
	<dl class="coupon_dl">
		<dt class="coupon_dt">¥10</dt>
		<dd class="coupon_dd">
			<div class="coupon_all">
				<p class="user_quan">客户端会员代金券</p>
				<p class="validity">有效期至：2016-6-29</p>
				<p class="validity">会员专享</p>
			</div>
			
		</dd>
	</dl>
	<div class="notice_all">
		<div class="notice">
			<p class="notice_p">使用须知</p>
			<p class="notice_num">1.优惠券仅限在微站上使用。</p>
			<p class="notice_num">2.优惠券使用期限为领取之日起30日内，过期自动作废。</p>
		</div>
	</div>
</div>

{{> foot
	}}
