{{> head
  title="订单列表"
  keywords=""
  description=""
  style="/user/coupondetails.css" }}

<div class="list list2">
{{#coupondetails}}
	<dl class="coupon_dl">
		<dt class="coupon_dt">¥{{denomination}}</dt>
		<dd class="coupon_dd">
			<div class="coupon_all">
				<p class="user_quan">{{couponName}}</p>
				<p class="validity">有效期至：{{overtime}}</p>
				<p class="validity">{{instructions}}</p>
			</div>
			
		</dd>
	</dl>
{{/coupondetails}}
	<div class="notice_all">
		<div class="notice">
			<p class="notice_p">使用须知</p>
			<p class="notice_num">1.优惠券仅限在微站上使用。</p>
			<p class="notice_num">2.优惠券使用期限为领取之日起30日内，过期自动作废。</p>
		</div>
	</div>
</div>

</body>

</html>
