{{> head
  title="我的订单"
  keywords=""
  description=""
  style="/user/myOrder.css" }}

<div class="con_all" id="rect">
    <div class="user_all">

      <ul class="my_tit">
        <li class="order_li order_li_on">
          <img class="order_img" src="/assets/user/images/order.png"/>
          <p class="order_p">全部订单</p>
        </li>
        <li class="order_li">
          <img class="quan" src="/assets/user/images/card.png"/>
          <p class="order_p">会员订单</p>
        </li>
      </ul>
      <div class="list">
        <dl class="list_dl">
          <a href="javascript:;">
            <dt class="list_dt">
              <img src="/assets/user/images/list1.jpg">
            </dt>
            <dd class="list_dd">
              <div class="list_left">
                <p class="list_name">我的特工爷爷   国语2D</p>
                <p class="list_date">2016-8-9  18:29</p>
                <p class="list_date">7号厅(9排6座，9排7座)</p>
                <p class="list_date">取票码:343532</p>
                <p class="list_date">总价：80元</p>
              </div>
              <p class="list_right">付款06:02</p>
            </dd>
          </a>
        </dl>
        <dl class="list_dl">
          <a href="javascript:;">
            <dt class="list_dt">
              <img src="/assets/user/images/list5.jpg">
            </dt>
            <dd class="list_dd">
              <div class="list_left">
                <p class="list_name">我的特工爷爷   国语2D</p>
                <p class="list_date">2016-8-9  18:29</p>
                <p class="list_date">7号厅(9排6座，9排7座)</p>
                <p class="list_date">取票码:343532</p>
                <p class="list_date">总价：80元</p>
              </div>
              <img class="list_img" src="/assets/user/images/issue.jpg">
            </dd>
          </a>
        </dl>
        <dl class="list_dl">
          <a href="javascript:;">
            <dt class="list_dt">
              <img src="/assets/user/images/list6.jpg">
            </dt>
            <dd class="list_dd">
              <div class="list_left">
                <p class="list_name">我的特工爷爷   国语2D</p>
                <p class="list_date">2016-8-9  18:29</p>
                <p class="list_date">7号厅(9排6座，9排7座)</p>
                <p class="list_date">取票码:343532</p>
                <p class="list_date">总价：80元</p>
              </div>
              <img class="list_img" src="/assets/user/images/sucess.jpg">
            </dd>
          </a>
        </dl>

        <dl class="list_dl">
          <a href="javascript:;">
            <dt class="list_dt">
              <img src="/assets/user/images/list2.jpg">
            </dt>
            <dd class="list_dd">
              <div class="list_left">
                <p class="list_name">我的特工爷爷   国语2D</p>
                <p class="list_date">2016-8-9  18:29</p>
                <p class="list_date">7号厅(9排6座，9排7座)</p>
                <p class="list_date">取票码:343532</p>
                <p class="list_date">总价：80元</p>
              </div>
              <img class="list_img" src="/assets/user/images/issue.jpg">
            </dd>
          </a>
        </dl>
      </div>
      <div class="list list2">
        <dl class="list_dl">
          <a href="javascript:;">
            <dt class="list_dt">
              <img src="/assets/user/images/list1.jpg">
            </dt>
            <dd class="list_dd">
              <div class="list_left">
                <p class="list_name">我的特工爷爷   国语2D</p>
                <p class="list_date">2016-8-9  18:29</p>
                <p class="list_date">7号厅(9排6座，9排7座)</p>
                <p class="list_date">取票码:343532</p>
                <p class="list_date">总价：80元</p>
              </div>
              <p class="list_right">付款06:02</p>
            </dd>
          </a>
        </dl>
        <dl class="list_dl">
          <a href="javascript:;">
            <dt class="list_dt">
              <img src="/assets/user/images/list5.jpg">
            </dt>
            <dd class="list_dd">
              <div class="list_left">
                <p class="list_name">我的特工爷爷   国语2D</p>
                <p class="list_date">2016-8-9  18:29</p>
                <p class="list_date">7号厅(9排6座，9排7座)</p>
                <p class="list_date">取票码:343532</p>
                <p class="list_date">总价：80元</p>
              </div>
              <img class="list_img" src="/assets/user/images/issue.jpg">
            </dd>
          </a>
        </dl>
        <dl class="list_dl">
          <a href="javascript:;">
            <dt class="list_dt">
              <img src="/assets/user/images/list6.jpg">
            </dt>
            <dd class="list_dd">
              <div class="list_left">
                <p class="list_name">我的特工爷爷   国语2D</p>
                <p class="list_date">2016-8-9  18:29</p>
                <p class="list_date">7号厅(9排6座，9排7座)</p>
                <p class="list_date">取票码:343532</p>
                <p class="list_date">总价：80元</p>
              </div>
              <img class="list_img" src="/assets/user/images/tuipiao.jpg">
            </dd>
          </a>
        </dl>

        <dl class="list_dl">
          <a href="javascript:;">
            <dt class="list_dt">
              <img src="/assets/user/images/list2.jpg">
            </dt>
            <dd class="list_dd">
              <div class="list_left">
                <p class="list_name">我的特工爷爷   国语2D</p>
                <p class="list_date">2016-8-9  18:29</p>
                <p class="list_date">7号厅(9排6座，9排7座)</p>
                <p class="list_date">取票码:343532</p>
                <p class="list_date">总价：80元</p>
              </div>
              <img class="list_img" src="/assets/user/images/issue.jpg">
            </dd>
          </a>
        </dl>
      </div>
    </div>

  </div>



{{> foot
  nav="myOrder"
  script="/user/user.js"}}
