{{> head
  title="订单列表"
  keywords=""
  description=""
  style="/user/orderdetails.css" }}

<div class="all">
		<div class="top">
			<dl class="ticket_dl">
				<dt class="ticket_dt">
					<p class="dt_p">我叫MT</p>
					<p class="dt_p2">
						<span class="dt_date">2016-8-9 18:29~20:30</span><span>(国语2D）</span>
					</p>
					<p class="dt_p3">保定万象影城5号厅</p>
					<p class="dt_p3">7排7座&nbsp;&nbsp;7排8座</p>
					<p class="dt_p3">手机号138 8134 8888</p>
				</dt>
				<dd class="ticket_dd">
					<img src="/assets/user/images/list.jpg"/>			
				</dd>
			</dl>
		</div>
	</div>
	<div class="bottom">
		<div class="bot_top">
			<p class="tishi">在取票机输入以下内容取电影票</p>
			<div class="pick">
				<p class="number">序列号：999988</p>
				<p>验证码：999988</p>
			</div>
		</div>
		<ul class="details_ul">
			<li class="details_li">
				<div class="li_left">
					<p class="li_tit">影院详情</p>
					<p class="li_p">保定万象影城5号厅</p>
					<p class="li_p">保定市长城北大街保百大楼6层</p>
				</div>
				<div class="li_right">
					<a href="tel:18888888888">
						<img src="/assets/user/images/tel.jpg"/>
					</a>
				</div>
			</li>
			<li class="details_li">
				<div class="li_left">
					<p class="li_tit">订单详情</p>
					<p class="li_p">实付金额 ¥90/2张</p>
					<p class="li_p">订单号  12345678</p>
					<p class="li_p">购买时间  2016-06-03  14:32</p>
				</div>
			</li>
			<li class="details_li">
				<div class="li_left">
					<p class="li_tit">关于取票</p>
					<p class="li_p">1.请在本影院柜台取票</p>
					<p class="li_p">2.购票取票失败请您致电400-008-7099</p>
				</div>
			</li>
		</ul>
	</div>


</body>

</html>