{{> head
  title="选择影院"
  keywords=""
  description=""
  style="/selectCinema/selectCinema.css" }}

	<div class="select_all">
		<div class="select_con">

			<div class="top_ipt">
				<img class="select_img" src="/assets/selectCinema/images/sel.jpg">
				<input class="select_ipt" type="text" placeholder="搜索影院名或地址"/>
				<img class="select_empty" src="/assets/selectCinema/images/empty.jpg">
			</div>
			<div class="select_list_all">
				<ul class="select_left">
					<li class="select_left_li">北京</li>
					<li class="select_left_li">天津</li>
					<li class="select_left_li">广州</li>
					<li class="select_left_li">上海</li>
					<li class="select_left_li">哈尔滨</li>
					<li class="select_left_li">太原</li>
					<li class="select_left_li">江苏</li>
					<li class="select_left_li">浙江</li>
					<li class="select_left_li">成都</li>
					<li class="select_left_li">昆明</li>
					<li class="select_left_li">昆明</li>
					<li class="select_left_li">昆明</li>
					<li class="select_left_li">昆明</li>
				</ul>
				<ul class="select_right">
					<li class="select_right_li">
						<a href="javascript:;">
							<p class="big_p">双城盈日国际影城</p>
							<p class="small_p">双城市团结大街12号曼哈顿4楼（原商业大世界）</p>
						</a>
					</li>
					<li class="select_right_li">
						<a href="javascript:;">
							<p class="big_p">双城盈日国际影城</p>
							<p class="small_p">双城市团结大街12号曼哈顿4楼（原商业大世界）</p>
						</a>
					</li>
					<li class="select_right_li">
						<a href="javascript:;">
							<p class="big_p">双城盈日国际影城</p>
							<p class="small_p">双城市团结大街12号曼哈顿4楼（原商业大世界）</p>
						</a>
					</li>
					<li class="select_right_li">
						<a href="javascript:;">
							<p class="big_p">双城盈日国际影城</p>
							<p class="small_p">双城市团结大街12号曼哈顿4楼（原商业大世界）</p>
						</a>
					</li>
					<li class="select_right_li">
						<a href="javascript:;">
							<p class="big_p">双城盈日国际影城</p>
							<p class="small_p">双城市团结大街12号曼哈顿4楼（原商业大世界）</p>
						</a>
					</li>
					<li class="select_right_li">
						<a href="javascript:;">
							<p class="big_p">双城盈日国际影城</p>
							<p class="small_p">双城市团结大街12号曼哈顿4楼（原商业大世界）</p>
						</a>
					</li>
					<li class="select_right_li">
						<a href="javascript:;">
							<p class="big_p">双城盈日国际影城</p>
							<p class="small_p">双城市团结大街12号曼哈顿4楼（原商业大世界）</p>
						</a>
					</li>
					<li class="select_right_li">
						<a href="javascript:;">
							<p class="big_p">双城盈日国际影城</p>
							<p class="small_p">双城市团结大街12号曼哈顿4楼（原商业大世界）</p>
						</a>
					</li>
				</ul>
			</div>
			<div class="select_list_all2">
				<ul class="select_ul_all">
					<li class="select_li_all">
						<div class="dian_div">
							<img src="/assets/selectCinema/images/dian.jpg"/>
						</div>
						<div class="dian_right">
							<a href="javascript:;">
								<p class="dian_p_lf">双城盈日国际影城</p>
								<p class="dian_p_s">双城市团结大街1双城市团结大街12号曼哈顿4楼（原商业大世界）</p>
							</a>
						</div>
					</li>
					<li class="select_li_all">
						<div class="dian_div">
							<img src="/assets/selectCinema/images/dian.jpg"/>
						</div>
						<div class="dian_right">
							<a href="javascript:;">
								<p class="dian_p_lf">双城盈日国际影城</p>
								<p class="dian_p_s">双城市团结大街12号曼哈顿4楼（原商业大世界）</p>
							</a>
						</div>
					</li>
					<li class="select_li_all">
						<div class="dian_div">
							<img src="/assets/selectCinema/images/dian.jpg"/>
						</div>
						<div class="dian_right">
							<a href="javascript:;">
								<p class="dian_p_lf">双城盈日国际影城</p>
								<p class="dian_p_s">双城市团结大街12号曼哈顿4楼（原商业大世界）</p>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
{{> foot nav="cinema"
  script="/selectCinema/selectCinema.js"}}
