{{> head
  title="绑定会员卡"
  keywords=""
  description=""
  style="/Member/Member.css" }}
<div class="box">
  <div class="box_input">
    <div class="get-tel">
      <div class="tel-inp">
        <i class="tel-icon"><img src="/assets/Member/images/tel.png" alt=""></i>
        <input type="text" value="" placeholder="请输入会员卡号">

      </div>

    </div>
    <div class="enter-code">
      <input type="password" value="" placeholder="请输入密码">
      <i class="suo-icon"><img src="/assets/Member/images/suo.png" alt=""></i>
      <span class="C_H"><img src="/assets/Member/images/cha.png" alt=""></span>
      <span class="X_S"><img src="/assets/Member/images/y_j.png" alt=""></span>
    </div>
    </div>
    <div class="enter-btn">
      <a href="/pay/1">绑定</a>
    </div>

  </div>
{{> foot
  nav="Member"
  script="/Member/Member.js"}}
