{{> head
  title="影讯"
  keywords=""
  description=""
  style="/movie/movie.css" }}

<div class="film_all">
    <div class="film_top">
      <img src="/assets/movie/images/top.jpg"/>
      <div class="top_font">
        <p class="top_p">他让观众自己选择感动他们得事物</p>
        <p class="comment">7637人评</p>
      </div>
    </div>
    <dl class="film_dl">
      <a href="javascript:;">
        <dt class="film_dt">
          <p class="dt_tit">《逆战》—看周董和谢柠檬在失衡故事中的表扬</p>
          <p class="dt_p"><span class="num">7637人评</span><span class="date">6月3日</span></p>
        </dt>
        <dd class="film_dd">
          <img src="/assets/movie/images/list1.jpg">
        </dd>
      </a>
    </dl>
    <dl class="film_dl">
      <a href="javascript:;">
        <dt class="film_dt">
          <p class="dt_tit">《功夫》中被星爷救下她如今成大美女</p>
          <p class="dt_p"><span class="num">7637人评</span><span class="date">6月3日</span></p>
        </dt>
        <dd class="film_dd">
          <img src="/assets/movie/images/list2.jpg">
        </dd>
      </a>
    </dl>
    <dl class="film_dl">
      <a href="javascript:;">
        <dt class="film_dt">
          <p class="dt_tit">什么是出色的观影体验：清晰得如脏眼睛擦干净了</p>
          <p class="dt_p"><span class="num">7637人评</span><span class="date">6月3日</span></p>
        </dt>
        <dd class="film_dd">
          <img src="/assets/movie/images/list3.jpg">
        </dd>
      </a>
    </dl>
  </div>

{{> foot
  script="/film/film.js"}}
