.box{
  width:100%;
  overflow:hidden;
}

.top-div{
  width:100%;
  height:8.55rem;
  position:relative;
  overflow:hidden;
}

.top-div>a>img{
  width:100%;
  height:100%;
}

.masker-wp{
  position:absolute;
  left:0;
  bottom:0;
  color:#fff;
  font-size:0.75rem;
  width:100%;
  height:1.85rem;
  line-height: 1.85rem;
}

.masker{
  width:100%;
  height:1.85rem;
  background:#000;
  opacity:0.5;

}

.masker-wp .text{
  width:100%;
  position:absolute;
  top:0;
  left: 0;

}

.masker-wp .name{
  float:left;
  margin-left:0.6rem;
}

.masker-wp .date{
  float:right;
  margin-right:0.6rem;
}

.hot-img{
  position:absolute;
  right:0;
  top:0;
  width:3.15rem;
}

.hot-img>img{
  width:100%;
}

.icon-menu{
  width:100%;
  padding:0.95rem 0 0.9rem 0;
  font-size:0.6rem;
  background:#fff;
  overflow:hidden;
}
.icon_menu_ul{
   width:100%;
   overflow:hidden;
}
.icon_menu_ul li{
  width:25%;
  text-align:center;
  float:left;
}

.icon-menu li a img{
  width:1.4rem;
  margin: 0 auto;
}

.icon-menu li a img.huo{
  width:1.1rem;
  margin: 0 auto;
}
.icon-menu li a .on_img{
  display:none;
}
.icon-menu li a .so_img{
  display:block;
}
.icon-menu li.on a .so_img{
  display:none;
}
.icon-menu li.on a .on_img{
  display:block;
}


.icon-menu li>a>p{
  margin-top:0.3rem;
}

.icon-menu li a {
  display:block;
}
.icon-menu li.on a{
  color:#ED9E5B;
}

.film-list{
  width:100%;
  overflow:hidden;
  margin-bottom:3rem;
  font-size:0.75rem;
}


.film-list .show_ul{
  display:block;
}
.film-list ul{
  display:none;
}

.film-list li{
  width:100%;
  margin-top:0.5rem;
  overflow:hidden;
}

.film-list li h6{
  width:100%;
  text-align:center;
  height:1.65rem;
  font-size:0.65rem;
  background:#fff;
  font-weight:normal;
  line-height:1.65rem;
}

.film-list li h6>img{
  width:0.8rem;
  margin-right:0.5rem;
  position:relative;
  top:0.1rem;
}

.film-list li .film-img{
  width:100%;
  height:8.55rem;
}

.film-list li .film-img>img{
  width:100%;
  height:100%;
}

.film-list li .film-name{
  width:100%;
  text-indent:0.5rem;
  background:#fff;
  height:2.65rem;
  line-height:2.65rem;
}
